.heading__principal{
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
   display:inline-block;
    background: linear-gradient(90deg, rgba(0,191,203,1) 0%, rgba(255,116,21,1) 55%, rgba(0,99,255,1) 100%);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
}

.heading__secondary{
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;

  &-card-1{
    display:inline-block;
    background: linear-gradient(90deg, rgba(0,191,203,1) 0%, rgba(255,116,21,1) 55%, rgba(0,99,255,1) 100%);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
  }
}
