<section class="about">
	<div class="u-center-text">
		<h1 class="heading__principal u-margin-bottom-small about__heading">About Us</h1>
		<div class="row">
		<h3>Tech It Forward is a boutique consulting agency promoting international and local startups and technologies through strategic marketing, events and specialized roadshows. <br>
		Our mission is to help companies grow and innovate by creating marketing strategies together with potential matching and partnership opportunities with international technology experts and entrepreneurs</h3>
		</div>
		<div class="cards-team">
			<div class="card-team">
				<img src="../images/Jessica.png" alt="Jessica"/>
				<div class="card-team-infos">
					<h2>Jessica Brown Rosner</h2>
					<p>Co-founder of Tech it Forward</p>
				</div>
			</div>
			<div class="card-team">
				<img src="../images/Jennifer.png" alt="Jessica"/>
				<div class="card-team-infos">
					<h2>Jennifer Elias</h2>
					<p>Co-founder of Tech it Forward</p>
				</div>
			</div>
		</div>
	</div>
</section>