<section class="portfolio">
  <div class="u-center-text">
    <h1 class="heading__principal clients__heading u-margin-bottom-big">Our clients</h1>
  </div>
  <div class="clients">
    <img class="logo" src="../images/portfolio/academic.png" alt="">
    <img class="logo" src="../images/portfolio/alcide.png" alt="">
    <img class="logo" src="../images/portfolio/cardboard.jpeg" alt="">
    <img class="logo" src="../images/portfolio/hangzou.jpg" alt="">
    <img class="logo" src="../images/portfolio/hipitched.png" alt="">
    <img class="logo" src="../images/portfolio/humanz.png" alt="">
    <img class="logo" src="../images/portfolio/icc.png" alt="">
    <img class="logo" src="../images/portfolio/lagon.png" alt="">
    <img class="logo" src="../images/portfolio/masion.png" alt="">
    <img class="logo" src="../images/portfolio/mosaic.jpg" alt="">
  </div>
</section>