<section class="fourth">
  <div id="back__image"></div>
  <div class="motivation__text">
      <h1>Our goal is to create value by facilitating innovation and partnerships that solve real time technological and industrial needs.</h1>
    </div>
</section>