<section class="frase">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/fourth.jpg);">
	<div>
		<h1>Our goal is to create value by facilitating innovation and partnerships that solve real time technological and industrial needs.</h1>
	</div>
</section>