<div class="dropdown">
<ul>
  <li><a href="#" id="services">Services</a></li>
  <li><a href="#" id="about">About</a></li>
  <li><a href="#" id="clients">Clients</a></li>
  <li><a href="#" id="contact">Contact</a></li>
</ul>
</div>