<section class="second">
  <div class="u-center-text">
    <h1 class="heading__principal">Services</h1>
  </div>
  <div class="cards u-margin-top-medium">

    <div class="row__cards">
      <div class="col">
        <div class="card card-1">
        </div>
        <div class="card card-2">
          <h1 class="heading__secondary u-margin-bottom-small heading__secondary-card-1">tech connection</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro mollitia animi sit est dolores sed accusantium, eveniet, dolorum, natus hic consectetur veniam laudantium! Quibusdam recusandae perferendis fugiat eaque non quidem!</p>
        </div>
      </div>
    </div>

    <div class="row__cards">
      <div class="col">

        <div class="card card-2-left">
          <h1 class="heading__secondary u-margin-bottom-small heading__secondary-card-1">tech connection</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro mollitia animi sit est dolores sed accusantium, eveniet, dolorum, natus hic consectetur veniam laudantium! Quibusdam recusandae perferendis fugiat eaque non quidem!</p>
        </div>

        <div class="card card-1-right">
        </div>

      </div>
    </div>

    <div class="row__cards">
      <div class="col">
        <div class="card card-1">
        </div>
        <div class="card card-2">
          <h1 class="heading__secondary u-margin-bottom-small heading__secondary-card-1">tech connection</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro mollitia animi sit est dolores sed accusantium, eveniet, dolorum, natus hic consectetur veniam laudantium! Quibusdam recusandae perferendis fugiat eaque non quidem!</p>
        </div>
      </div>
    </div>

  </div>
</section>
