<%= partial "pages/navbar" %>

<section class="connection">
  <svg class="svg__triangle" width="44" height="38" viewBox="0 0 44 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22 0L43.6506 37.5H0.349365L22 0Z" fill="#000"/>
  </svg>

  <img id="logo__image" src="./images/techitforward-b.png" alt="">


  <div id="connection__image"></div>

  <div class="hero__text">
    <div class="text__position">
      <h1>When it comes to <span>connection</span>, you must keep moving forward</h1>
    </div>
  </div>
  <div class="hero__button">
    <p><a href="#">Discover More</a></p>
  </div>
</section>

<%= partial "pages/connection_1" %>
