.connection{
  margin-right: .5vw;
  margin-left:.5vw;
  height:100vh;
  width: 100vw;
  position:relative;
}

#connection__image{
  margin:0;
  padding:0;
  height:99%;
  width: 99%;
  clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
  background-image: url(../images/pic3.jpeg);
  background-size: cover;
  background-position: top;
  filter: brightness(40%);
}

.connection_1{
  height: 100vh;
  width: 99vw;
  margin: -27vh .5vw;
  background-color: $color-light-grey-1;
  padding-top:30vh;
  padding-bottom: 25vh;
}
