.frase{
  height:120vh;
  width: 99vw;
  position:relative;
  margin: -25vh .5vw;
}

.banner {
  height:120vh;
  background-size: cover;
  background-position: center;
  padding: 15% 0;
  clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 75%);
}

.banner h1 {
  margin-top: 0;
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: 2rem;
  text-align: center;
  // font-weight: bold;
  text-transform: uppercase;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


